body
{
    font-family: Century Gothic;
}
h1
{
    font-size: 60px;
    font-family: Lato Black;
    color: rgb(25, 25, 77);
}
.btn
{
    height: 50px;
    width: 150px;
}
.btn img
{
    width: 25px;
    margin-right: 5px;
}
.container .Offers
{
    display: grid;
}
.box
{
    height: 120px;
    width: 500px;
    background-color: white;
    margin-top: 25px;
    padding: 5px;
    border-radius: 10px;
}
.mobile-cart
{
    margin-left: 50px;
    width: max-content;
    grid-column: 2/span 2;
    grid-row: 1/span 4;    
}
.mobile-cart img
{
    margin-top: 20px;
    width: 800px;
}
.box > img
{
    margin-left: 10px;
    width: 90px;
}
.text
{
    margin-left: 40px;
}
h2
{
    font-size: 40px;
    color: rgb(13, 13, 102);
}
@media (max-width: 576px) { .mobile-cart
    {
        grid-column: 1/span 1;
        grid-row: 4/span 4;    
    } 
    .mobile-cart img
    {
        margin-top: 20px;
        width: 400px;
    }
    .bags
    {
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) { .mobile-cart
    {
        grid-column: 1/span 1;
        grid-row: 4/span 4;    
    } 
    .mobile-cart img
    {
        margin-top: 20px;
        width: 500px;
    }
    .bags
    {
        flex-wrap: wrap;
    }}
@media (max-width: 992px) { .mobile-cart
    {
        grid-column: 1/span 1;
        grid-row: 4/span 4;    
    } 
    .mobile-cart img
    {
        margin-top: 20px;
        width: 600px;
    }
    .bags
    {
        flex-wrap: wrap;
    }}
@media (max-width: 1200px) { .mobile-cart
        {
            grid-column: 1/span 1;
            grid-row: 4/span 4;    
        } 
        .mobile-cart img
        {
            margin-top: 20px;
            width: 700px;
        }
        .bags
        {
            flex-wrap: wrap;
        }}